.line_bar{
	width: 1000px;
	text-align: center;
	margin: 20px auto;
	font-size: 0;
}

.invis{ 
	display: inline-block;
	background-color: white;
	padding: .75rem 1.25rem;
	border-radius: 15rem;
	font-size: 1rem;
	text-align: center;
	letter-spacing: .1rem;
	position: relative;
}

.thumbnail, .thumbnailMenu, .thumbnail img{
	width: 100px;
	height: 100px;
}

.thumbnail{
	display: inline-block;
	position: relative;
	margin: 20px 20px;
}

.thumbnailMenu{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.8);
	z-index: 999;
	display: none;
}

.menuButton{
	width: 100%;
	height: 20px;
	margin-top: 10px;
}