.line_bar{
	width: 1000px;
	text-align: center;
	margin: 20px auto;
	font-size: 0;
}

.invis{ 
	display: inline-block;
	background-color: white;
	padding: .75rem 1.25rem;
	border-radius: 15rem;
	font-size: 1rem;
	text-align: center;
	letter-spacing: .1rem;
	position: relative;
}
