.line_bar{
	width: 1000px;
	text-align: center;
	margin: 0 auto;
	font-size: 0;
}

.tag_menu{
	width: 200px;
	height: 256px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding-top: 0px;
}
