{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'style/PageStyles/base.css' %}"/>
		{% block style %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<script src="{% static 'script/PublicScripts/jquery-1.11.0.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'script/PageScripts/base.js' %}" type="text/javascript" charset="utf-8"></script>
		{% block script %}{% endblock %}
	</body>
</html>