{% load static %}

<script src="{% static 'script/PublicScripts/jquery.ui.core.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'script/PublicScripts/jquery.ui.widget.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'script/PublicScripts/jquery.ui.mouse.min.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'script/PublicScripts/jquery.ui.draggable.min.js' %}" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" href="{% static 'style/ApiStyles/wColorPicker.css' %}" />
<script src="{% static 'script/ApiScripts/wColorPicker.js' %}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style/ApiStyles/wPaint.css' %}" />
<script src="{% static 'script/ApiScripts/wPaint.js' %}" type="text/javascript" charset="utf-8"></script>

<div id="sketch_canvas" style="width: 500px;height: 300px;background: #FFFFFF;border:solid black 1px;"></div>

<script src="{% static 'script/ApiScripts/sketch_api.js' %}" type="text/javascript" charset="utf-8"></script>