{% extends 'base.html' %}
{% load static %}

<!-- title part -->
{% block title %}
EDITH - History
{% endblock %}

<!-- style part -->
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'style/PageStyles/history.css' %}" />
{% endblock %}

<!-- body part -->
{% block body %}
<div class="line_bar">
	<button id="edit_button" class="public_btns" style="display: inline-block;">Editing</button>
	<div class="screenTitle">
		My History
	</div>
	<button class="invis" style=" background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	color:transparent;">Editing</button>
	{% for h in historyList %}

	{% empty %}
	<div style="font-size: 20px;">Empty!</div>
	{% endfor %}
</div>
{% endblock %}

<!-- script part -->
{% block script %}
<script src="{% static 'script/PageScripts/history.js' %}" type="text/javascript" charset="utf-8"></script>
{% if request.session.id %}
{% else %}
<script type="text/javascript">
	$(location).attr('href', '/');
</script>
{% endif %}
{% endblock %}
{% if request.session.id %}
{% else %}
<script type="text/javascript">
	$(location).attr('href', '/');
</script>
{% endif %}