{% extends 'base.html' %}
{% load static %}

<!-- title part -->
{% block title %}
EDITH
{% endblock %}

<!-- style part -->
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'style/PageStyles/index.css' %}"/>
{% endblock %}

<!-- body part -->
{% block body %}
<div id="topBar" class="line_bar" style="text-align: right;">
	<button id="history_button" class="public_btns" style="display: inline-block;">History</button>
</div>

<div class="line_bar">
	<div class="tag_menu">
		<div class="dropdown">
		<button id="tag_1" class="public_btns" onclick="tags(1)">Tag#1</button>
		<div class="dropdown-content">
			<a href="#">Option 1</a>
			<a href="#">Option 2</a>
			<a href="#">Option 3</a>
		  </div>
		  </div>
		
	</div>
	<div style="display: inline-block;">
		{% include 'sketch.html' %}
	</div>
	<div class="tag_menu">
		<div class="dropdown">
			<button id="tag_2" class="public_btns" onclick="tags(2)">Tag#2</button>
			<div class="dropdown-content">
				<a href="#">Option 1</a>
				<a href="#">Option 2</a>
				<a href="#">Option 3</a>
			  </div>
			  </div>
	</div>
	
</div>
<div class="line_bar" style="text-align: center;">
	<button id="generate_button" class="public_btns">Generate Image</button>
	<br>
	<button id="colorize_button" class="public_btns">Colorize Image</button>
	
	<br>
	<button id="convert_sketch_button" class="public_btns">Convert to Sketch</button>
	<br>
	<button id="convert_bw_button" class="public_btns">Convert to BW from Color</button>
	<br>
	<button id = "convert_bw_from_sketch_button" class = "public_btns">Convert to BW from Sketch</button>
	<br>
	<button id="complete_button" class="public_btns">Complete</button>
</div>
{% endblock %}

<!-- script part -->
{% block script %}
<script src="{% static 'script/PageScripts/index.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}