{% extends 'base.html' %}
{% load static %}

<!-- title part -->
{% block title %}
EDITH
{% endblock %}

<!-- style part -->
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'style/PageStyles/index.css' %}" />
{% endblock %}

<!-- body part -->
{% block body %}
<div id="topBar" class="line_bar" style="text-align: right;">
	<button id="history_button" class="public_btns" style="display: inline-block;">History</button>
</div>

<div class="line_bar">
	<div class="tag_menu" style = "margin-right: 100px;">
		<button id="inpainting_button" class="public_btns" style = "margin-top: 10px;">Inpainting Image</button>
		<br>
		<button id="colorize_button" class="public_btns" style = "margin-top: 10px;">Colorize Image</button>

	</div>
	<div style="display: inline-block;">
		{% include 'sketch.html' %}
	</div>
	<div class="tag_menu" style = "margin-left: 100px;">
		<button id="convert_sketch_button" class="public_btns" style = "margin-top: 10px;">Convert to Sketch</button>
		<br>
		<button id="convert_bw_button" class="public_btns" style = "margin-top: 10px;">Convert to BW from Color</button>
		<br>
		<button id="convert_bw_from_sketch_button" class="public_btns" style = "margin-top: 10px;">Convert to BW from Sketch</button>
		<br>
		<input type="range" class="slider" id="slider" name="slider" min="0" max="50" step='1' list='tickmarks'>
		<datalist id="tickmarks">
			<option value="0" label='0'></option>
			<option value="5"></option>
			<option value="10"></option>
			<option value="15"></option>
			<option value="20"></option>
			<option value="25"></option>
			<option value="30"></option>
			<option value="35"></option>
			<option value="40"></option>
			<option value="45"></option>
			<option value="50" label='50'></option>
		</datalist>
		<div id="output" style="font-size: 20px;">25</div>
	</div>

</div>
<div class="line_bar" style="text-align: center;">
	<button id="complete_button" class="public_btns">Complete</button>
</div>
{% endblock %}

<!-- script part -->
{% block script %}
<script src="{% static 'script/PageScripts/index.js' %}" type="text/javascript" charset="utf-8"></script>
{% if request.method == "POST" %}
<script type="text/javascript">
	$(window).ready(function () {
		$("#sketch_canvas").wPaint("image", "data:image/png;base64," + "{{ pic }}");
	})
</script>
{% endif %}
{% endblock %}